.App {
  width: 100%;
  height: 100vh;
  background-color: rgb(68 87 96);
  display: flex;
  justify-content: center;
  align-items: center;
}


.quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.mainBox {
  background-color: rgb(255 255 255);
  height: 70%;
  width: 500px;
  border: 2px solid rgb(255 255 255);
  border-radius: 5px;
  padding: 3px 30px;
  box-shadow: 0 2px 6px 0 rgba(23, 23, 23, 0.32);
  display: flex;
  flex-direction: column;
}

.formText {
  margin: 0px;
}

.inputField {
  border: 2px solid rgb(68 87 96);
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
  margin-bottom: 5px;
}

.btn {
  border: 2px solid rgb(68 87 96);
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
  background-color: rgb(170, 231, 255);
}

.emailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

.formBox {
  display: block;
}

#progressBar {
  height: 4px;
  width: 100%;
}

#scoreBox {
  /* background-color: rgb(190, 212, 252); */
  border-radius: 10px;
  padding: 0px 3px;
  margin-bottom: 2px;
  font-size: 10px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}

#questionDetails {
  display: inline-block;
  zoom: 1
}

#questionDetails {
  width: 100%;
  margin: 0 auto;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#hQuestion {
  font-size: 1.4rem;
  margin-bottom: 0%;
}

#categoryQuestion {
  margin: 0% !important;
  margin: 0%;
  padding: 0%;
  font-size: 12px;
  color: rgb(93, 107, 114);
}


.iconArray {
  margin-top: 0%;
  padding: 0%;
}

#iconBox {
  padding: 0%;
  margin-top: 0%;
  margin-left: 10px;

}

.iconS {
  margin: 0%;
  padding: 0%;
  height: 15px;
  color: gray;
}

.iconColor {
  color: beige;
  fill: bisque;
}

#questionBox {
  height: 150px;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
}


#questionB {
  width: 100%;
  font-size: 1.2rem;
  margin-top: 2%;
  padding-left: 5px;
  font-weight: 500;
  border-bottom: 1px solid rgba(23, 23, 23, 0.32);
  line-height: 24px;
}

#imgBack {
  background-image: url(/public/images/Expertizo-logo.png);

}


.startPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.progress {
  height: 3px
}


.optionRow {
  font-size: large;
  margin-bottom: 2%;

  /* border: 1px solid rgba(23, 23, 23, 0.32);
  border-radius: 5px; */
  display: flex;
  /* align-items: flex-start; */
  align-content: center;
  background-color: aquamarine;
  border-radius: 6px;
  transition: .3s;
}

.option {
  margin-right: 5px;
}

.optionRow:hover {
  cursor: pointer;
  background-color: rgb(177, 204, 255);
}

/* .optionBtn {
  border-radius: 5px;
  border: none;
  background-color: aquamarine;
}


.optionBtn:hover {
  background-color: rgb(159, 176, 170);
} */


.nextBtn {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}

#btn {
  width: 70%;
  font-size: large;
  outline: none;
  border: 2px solid rgba(23, 23, 23, 0.32);
  border-radius: 10px;
  background-color: rgb(255 255 255);
  color: rgb(68 87 96);
  cursor: pointer;
  margin-bottom: 1.5%;
  transition: .3s;
  /* display: none; */
}

#btn:hover {
  background-color: rgb(177, 204, 255);
  cursor: pointer;
}


#btn:active {

  background-color: rgb(96, 151, 255);

}


#footer {

  margin-top: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;

}




.progress {
  height: 20px
}

#progressB {
  font-size: 12px;

}

#progressBarRed {

  background-color: rgba(255, 0, 0, 0.63);
  font-size: 10px;

}

#progressMaxScore {
  background-color: rgb(167, 167, 167);
  font-size: 8px;

}

#selectedQuizResult {
  font-size: 1.4rem;
  margin-left: 7px;
}

.resultBtn {
  display: none;

}

.hResult {
  margin-top: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 8px;
}

.endResult {
  font-size: 1.3rem;
  font-weight: bold;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

h2 {
  margin-bottom: 0%;
}

.result {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.resultBox {
  box-sizing: border-box;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  background-color: lightgrey;
  border-radius: 10px;
  border: 3px solid rgb(68 87 96);

}

.emojiSpace {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#correctColor {
  background-color: aquamarine;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(68 87 96);
  border-radius: 10px;
}

#noCorrectColor {
  background-color: red;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(68 87 96);
  border-radius: 10px;
  text-align: center;
}

#incorrect {
  background-color: red;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(68 87 96);
  border-radius: 10px;
}

#noIncorrect {
  background-color: lightseagreen;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
  width: 90%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(68 87 96);
  border-radius: 10px;
}

.btnResult {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}